@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportCourtManagement</title>

    <link rel="icon" type="image/png" href="~/images/logo.jpg">

    <!-- ========== CSS ========== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- CSS dùng chung cho toàn bộ trang Account -->
	<link rel="stylesheet" href="~/css/login/account.css" asp-append-version="true" />

    <!-- Section dành cho CSS riêng từng trang -->
    @RenderSection("Styles", required: false)
</head>

<body>
    <main class="d-flex align-items-center justify-content-center vh-100">
        @RenderBody()
    </main>

    <!-- ========== JS ========== -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/login/account.js" asp-append-version="true"></script>

    <!-- Section dành cho script riêng từng trang -->
    @RenderSection("Scripts", required: false)
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
</body>
</html>
