@model TCourt
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Court Booking";
}
@section Styles {
	<link rel="stylesheet" href="~/css/Court/Booking.css" asp-append-version="true" />
}

<div class="container-fluid p-0">
	<div class="top-banner p-4">
		<div class="banner-upper text-white">
			<button class="return-btn">
				<a href="~/Home/Index">
					<i class="fa-solid fa-arrow-left"></i>
				</a>
			</button>
			<h1 class="center"><b id="courtName">Court Name displace here</b></h1>
		</div>
		<div class="banner-lower">
			<div class="annotation w-50 align-content-end">
				<span class="mx-3">
					<i class="fa-solid fa-square rounded-3" style="color: #ffffff;"></i> Trống
				</span>
				<span class="mx-3">
					<i class="fa-solid fa-square rounded-3" style="color: #ff0000;"></i> Đã Đặt
				</span>
				<span class="mx-3">
					<i class="fa-solid fa-square rounded-3" style="color: #c4c4c4;"></i> Khóa
				</span>
				<a class="mx-3"><u>Bảng giá</u></a>
			</div>
			<div class="datetime-picker" >
				<label for="date">Chọn ngày:</label>
				<input type="date" id="schedule">
			</div>
		</div>
	</div>
	<div class="timeline-container">
		<div class="timeline-header-wrapper" id="timelineHeaderWrapper">
			<div class="timeline-header" id="timelineHeader"></div>
		</div>

		<div class="timeline-body-wrapper" id="timelineBodyWrapper">
			<div class="timeline-body" id="timelineBody"></div>
		</div>
	</div>
	<form class="selection-confirm col-10 position-absolute start-50 translate-middle-x" id="paymentConfirm" action="/Payment/Index" method="post">
		<input type="hidden" name="slotsJson" id="slotsInput">
		<button type="submit" class="payment-btn">Thanh toán</button>
	</form>
</div>

<script>
	var modelCourtID = "@Model.CourtId";
</script>

@section Scripts {
	<script src="~/js/Court/Booking.js"></script>
}