@model SportCourtManagement.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "_AccountLayout";
}

@await Html.PartialAsync("Partials/_LoginFormPartial", Model)

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger text-center mt-3">
        @ViewBag.Error
    </div>
}