

@using SportCourtManagement.Models.Account
@model RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký";
    Layout = "_AccountLayout";
}

@await Html.PartialAsync("Partials/_RegisterFormPartial", Model)

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger text-center mt-3">
        @ViewBag.Error
    </div>
}

