body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
}

.slider::-webkit-scrollbar {
    display: none;
}

i.fa-location-dot {
    color: red;
}

.corner-btn {
    bottom: 40.5vh;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px; 
    z-index: 1000;
}

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* bo tròn */
    border: none;
    background-color: #2e7d32; /* xanh lá */
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}
/*----------------------SIDE BAR---------------*/
div.sidebar {
    position: absolute;
    width: 100vw;
    height: 40vh;
    bottom: 0;
    background-color: white;
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

li.sidebar-item {
    display: flex;
    flex-direction: row;
}
        @media (min-width: 992px) {
            div.sidebar {
                width: 33vw;
                height: 100vh;
                background-color: white;
                box-shadow: 0 0 10px 0 gray;
                padding-left: 1vw;
                padding-right: 1vw;
                bottom: 0;
            }
            .corner-btn {
                bottom: 12.5vh;
            }
        }
/*--------------MAP--------------------*/
#map {
    width: 100vw;
    height: 100vh;
    z-index: 0;
}