body {
    background: linear-gradient(180deg, #0C6478 0%, #8DEE98 100%);
    color: #333; 
}

.profile-column {
    position: relative;
}

.profile-banner {
    height: 150px;
    background-image: url('/images/caulong.jpg');
    background-size: cover;
    background-position: center;
}

.profile-avatar-container {
    position: absolute;
    width: 100%;
    top: 100px; 
    display: flex;
    justify-content: center;
    z-index: 10; 
}

.profile-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 4px solid #fff;
    background-color: #fff; 
}

.avatar-camera-icon {
    position: absolute;
    bottom: 0; 
    right: 0; 
    background-color: #09D1C7; 
    color: white;
    border-radius: 50%; 
    width: 25px; 
    height: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
    border: 2px solid white; 
    z-index: 5;
}

.profile-card {
    background-color: #fff; 
    border: none;
    color: #333;
    padding-top: 70px !important;
}

.form-horizontal-label {
    text-align: right;
    font-weight: bold;
}

@@media (max-width: 767px) {
    .form-horizontal-label {
        text-align: left;
    }

    .profile-avatar-container {
        top: 120px;
    }
}