html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 90px; /* Đệm cho footer (bottom-nav) */
    margin: 0px;
    overflow: hidden;
    min-height: 100%; /* Chiếm hết chiều cao html */
}

/* THANH NAV DƯỚI (BOTTOM) */
.bottom-nav {
    background-image: linear-gradient(to right, #34a853, #5fbe76);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}


    .bottom-nav .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7); /* Màu icon mờ */
    }

        .bottom-nav .nav-item i {
            font-size: 1.9rem;
            margin-bottom: 2px;
        }

        .bottom-nav .nav-item span {
            font-size: 1.3rem;
        }

        .bottom-nav .nav-item.active {
            color: white; /* Màu icon khi được chọn */
        }

