html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 12vh; /* Đệm cho footer (bottom-nav) */
    margin: 0px;
    overflow: hidden;
    min-height: 100%; /* Chiếm hết chiều cao html */
}

.bottom-nav {
    height: 12vh;
    background: linear-gradient(180deg,#8DEE98 0%, #0C6478 100%);
    padding-top: 10px;
    padding-bottom: 10px;
}
    .bottom-nav .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7); 
    }

        .bottom-nav .nav-item i {
            font-size: 1.6rem;
            margin-bottom: 1px;
        }

        .bottom-nav .nav-item span {
            font-size: 1.2rem;
        }

        .bottom-nav .nav-item.active {
            color: white;
        }
